DATABASE_URL="postgresql://kigouha:Lw3DLodgrF8kRmK1cbxRpZq5btiuqyOg@dpg-dakjts8ae00c73bn1feg-a:5432/cortemandb"
postgresql://kigouha:Lw3DLodgrF8kRmK1cbxRpZq5btiuqyOg@dpg-dakjts8ae00c73bn1feg-a.oregon-postgres.render.com/cortemandb
postgresql://kigouha:Lw3DLodgrF8kRmK1cbxRpZq5btiuqyOg@dpg-dakjts8ae00c73bn1feg-a.oregon-postgres.render.com/cortemandb
